<div class="container row mb-5">
    <div class="col-md-6 offset-3">
        <p class="text-secondary fs-3 fw-bold mb-4">
            <span *ngIf="!isEditable">Add New Category</span>
            <span *ngIf="isEditable">Modify Category</span>
        </p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">    

            <div class="form-group mb-4">
                <mdb-form-control>
                    <input mdbInput type="text" 
                    formControlName="name" 
                    id="formControlDefault" 
                    [(ngModel)]="category.name" 
                    class="form-control" 
                    [ngClass]="{'is-invalid':submitted && form['name'].errors}" />
                    <label mdbLabel class="form-label" for="formControlDefault">Category Name</label>
                
                    <div *ngIf="submitted && form['name'].errors" class="invalid-feedback ms-2">
                        <div *ngIf="form['name'].errors['required']">
                            Name can't be blank
                        </div>
                    </div>

            </mdb-form-control>
            </div>
            
            <div class="mb-4">
                <img
                src="{{textUrl}}"
                class="img-thumbnail"
                alt="No Image"
                />
            </div>

            <div class="form-group mb-4">
                <mdb-form-control>
                    <input mdbInput type="text" 
                    formControlName="imgUrl" 
                    id="formControlDefault" 
                    class="form-control" 
                    [ngClass]="{'is-invalid':submitted && form['imgUrl'].errors}" 
                    [(ngModel)]="category.imgUrl" 
                    [ngModel]="textUrl" 
                    (ngModelChange)='onChange($event)'/>
                    <label mdbLabel class="form-label" for="formControlDefault">Image URL</label>
                
                    <div *ngIf="submitted && form['imgUrl'].errors" class="invalid-feedback  ms-2">
                        <div *ngIf="form['imgUrl'].errors['required']">
                            Image Url can't be blank
                        </div>
                    </div>

            </mdb-form-control>
            </div>


            <div class="form-group">
                <span class="me-3">
                    <button class="btn btn-outline-secondary btn-rounded" routerLink="/e/categories">Back</button>
                </span>
                <button class="btn btn-secondary btn-rounded">
                    <span *ngIf="!isEditable">Add</span>
                    <span *ngIf="isEditable">Modify</span>
                </button>
            </div>

        </form>
    </div>
</div>


