<div class="container">
    <p class="fw-bold fs-3 mb-3">Profile</p>
    <div class="row">
        <div class="col-4">
            <p class="fw-bold mb-1"><i class="fa-solid fa-user text-secondary me-2"></i>UserName</p>
            <p class="text-muted fs-5 mb-0">{{user.name}}</p>
        </div>
        <div class="col-4">
            <p class="fw-bold mb-1"><i class="fa-solid fa-envelope text-secondary me-2"></i>Email ID</p>
            <p class="text-muted fs-5 mb-0">{{user.email}}</p>
        </div>
        <div class="col-4">
            <p class="fw-bold mb-1"><i class="fa-solid fa-lock text-secondary me-2"></i> Password</p>
            <p class="text-muted fs-5 b-0"> <a mdbTooltip="🔐 bcrypt" placement="bottom"> #Encrypted!!# </a></p>
        </div>
    </div>

    <hr class="hr hr-blurry" />

    <p class="fw-bold fs-4 my-3">WishList</p>

    <table class="table table-striped align-middle mb-2 table-sm">
        <thead class="bg-light text-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of wishlist; let i = index">
                <td>{{i+1}}</td>
                <td>{{findProductName(u.product_id)}}</td>
            </tr>
        </tbody>
    </table>

    <hr class="hr hr-blurry" />

    <p class="fw-bold fs-4 my-3">Orders  <a routerLink="/orders/{{user._id}}" class="link-dark ms-2 fs-6" mdbTooltip="Goto Orders" placement="top"> <i class="fa-solid fa-arrow-up-right-from-square"></i> </a></p>
    <table class="table table-striped align-middle mb-2 table-sm">
        <thead class="bg-light text-dark">
            <tr>
                <th>#</th>
                <th>Items</th>
                <th>Total Amount</th>
                <th>Order At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of order; let i = index">
                <td>{{i+1}}</td>
                <td>{{u.products}}</td>
                <td>{{u.totalAmount}}</td>
                <td>{{u.createdAt}}</td>
            </tr>
        </tbody>
    </table>

</div>
