<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">...</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modalRef.close()">
      Back
    </button>
    <button type="button" class="btn btn-secondary btn-rounded">Update</button>
  </div>
