<div class="container mb-5">
    <button class="btn btn-outline-secondary fw-bold" routerLink="/a/product" mdbTooltip="Add New Product" placement="right"><i class="fa-solid fa-plus"></i></button>
    <table class="table table-bordered table-striped  caption-top align-middle mb-5">
        <caption>
            <p class="fw-bold fs-3 mb-2"> List of <span class="text-secondary">products</span></p>
        </caption>
        <thead class="bg-dark text-light">
            <tr>
                <th>No.</th>
                <th>Product</th>
                <th>Category</th>
                <th>Images</th>
                <th>Tags</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of product; let i = index">
                <td>{{i+1}}</td>
                <td>
                    <p class="fw-bold fs-6 mb-1">{{u.name}} | <span class="badge badge-secondary rounded-pill d-inline"> x {{u.quantity}}</span></p>
                    <p class="fs-6 mb-2">
                        <span *ngIf='chkDiscount(u.discount[0].isDiscounted)'>
                            ₹ <del>{{u.price}}</del> → ₹ {{calDiscountAmount(u.price, u.discount[0].percentage)}} 
                            <br> <span class="badge badge-warning rounded-pill d-inline"> {{u.discount[0].percentage}} %</span>
                        </span>
                        <span *ngIf='!chkDiscount(u.discount[0].isDiscounted)'>₹ {{u.price}}</span>
                    </p>
                    <p class="text-muted mb-0">{{u.description}}</p>
                </td>
                <td>{{ findCategoryName(u.category_id)}}</td>
                <td>
                    <span *ngFor="let imgS of u.imgUrls">
                        <img
                        src="{{imgS}}"
                        height="100"
                        alt="No Image"
                        />
                        <div class="vr mx-2" style="height: 100px;"></div>
                    </span>
                </td>
                <td>{{u.tags}}</td>
                <td>
                    <a routerLink="/a/product/{{u._id}}">
                        <button class="btn btn-outline-secondary btn-rounded" mdbTooltip="Edit Product" placement="top"><i class="fa-solid fa-pen-to-square"></i></button>
                    </a>
                    &nbsp;
                    <button class="btn btn-outline-danger btn-rounded mt-3" (click)="delete(u._id)" mdbTooltip="Delete Product" placement="top"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>