<div class="container row mb-5">
    <div class="col-md-6 offset-3">
        <p class="text-secondary fs-3 fw-bold mb-4">
            <span *ngIf="!isEditable">Add New User</span>
            <span *ngIf="isEditable">Modify User</span>
        </p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
                <mdb-form-control>
                    <input mdbInput type="text" formControlName="name" id="formControlDefault" [(ngModel)]="user.name" class="form-control" [ngClass]="{'is-invalid':submitted && form['name'].errors}" />
                    <label mdbLabel class="form-label" for="formControlDefault">UserName</label>
                
                    <div *ngIf="submitted && form['name'].errors" class="invalid-feedback ms-2">
                        <div *ngIf="form['name'].errors['required']">
                            UserName can't be blank
                        </div>
                    </div>
                    <div *ngIf="isUserExist && forUser == 0">
                        <span class="badge bg-danger  ms-2">{{userExistMsg}}</span>
                    </div>
            </mdb-form-control>
            </div>
            
            <div class="form-group mb-4">
                <mdb-form-control>
                    <input mdbInput type="text" formControlName="email" id="formControlDefault" class="form-control" [ngClass]="{'is-invalid':submitted && form['email'].errors}" [(ngModel)]="user.email" />
                    <label mdbLabel class="form-label" for="formControlDefault">Email ID</label>
                
                <div *ngIf="submitted && form['email'].errors" class="invalid-feedback  ms-2">
                    <div *ngIf="form['email'].errors['required']">
                        Email can't be blank
                    </div>
                    <div *ngIf="form['email'].errors['email']" class="ms-2">
                        Enter Valid EmailId
                    </div>
                </div>
                <div *ngIf="isUserExist && forUser == 1">
                    <span class="badge bg-danger  ms-2">{{userExistMsg}}</span>
                </div>
            </mdb-form-control>
            </div>

            <div *ngIf="!isEditable" class="form-group mb-4">
                <mdb-form-control>
                    <input mdbInput type="password" formControlName="password" id="formControlDefault" class="form-control" [ngClass]="{'is-invalid':submitted && form['password'].errors}" [(ngModel)]="user.password" />
                    <label mdbLabel class="form-label" for="formControlDefault">Password</label>
                

                    <div *ngIf="submitted && form['password'].errors" class="invalid-feedback ms-2">
                        <div *ngIf="form['password'].errors['required']">
                            Password can't be blank
                        </div>
                        <div *ngIf="form['password'].errors['minlength']" class="ms-2">
                            Password must have atleast 8 character
                        </div>
                    </div>
            </mdb-form-control>
            </div>
            
            <div class="form-check mb-4">
                <input
                    mdbCheckbox
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    [checked]="user.isAdmin"
                    (change)='user.isAdmin = !user.isAdmin == false ? "false": "true"'
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Admin User
                </label>

            </div>


            <div class="form-group">
                <span class="me-3">
                    <button class="btn btn-outline-secondary btn-rounded" routerLink="/e/users">Back</button>
                </span>
                <button class="btn btn-secondary btn-rounded">
                    <span *ngIf="!isEditable">Add</span>
                    <span *ngIf="isEditable">Modify</span>
                </button>
            </div>
        </form>
    </div>
</div>

