<app-header></app-header>
<div class="h-spacer"></div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="h-spacer"></div>


<!-- TODO: Move to footer comp -->
<footer class="text-right fixed-bottom row">
    <!-- Copyright -->
    <div class="col-8"></div>
    <div class="text-right p-3 col-4">
        
        <p class="note note-secondary float-end  d-flex align-items-center">
            <strong class="p-0">Updated User: &nbsp;</strong> Done
            <button type="button" class="btn btn-link link-danger btn-rounded ms-4"><i class="fa-solid fa-xmark"></i></button>
        </p>
        
    </div>
    <!-- Copyright -->
</footer>
