<div class="container-fluid full-height pt-4">
    <div class="row">
        <div class="col-md-5">

          <div class="pb-5">
          </div>

            <div class="pb-3 text-center">
                <h1 class="pt-3"> Welcome to <strong>Grocers</strong></h1>
                <p>
                  Choices made simplier, go <i class="fa-solid fa-cart-shopping text-black-50 me-1"></i> from anywhere.
                </p>
            </div>

            <div class="px-5 text-center">
            <div class="row py-5">
              <div class="col-lg-4 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                <i class="fas fa-user fa-2x text-black-50 mb-4"></i>
                <h6 class="text-black-50 mb-3"><strong>{{userCnt}}</strong> Users</h6>
                <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
              </div>
          
              <div class="col-lg-4 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                <i class="fas fa-box-archive fa-2x text-black-50 mb-4"></i>
                <h6 class="text-black-50 mb-3"><strong>{{productCnt}}</strong> Products</h6>
                <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
              </div>
          
              <div class="col-lg-4 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                <i class="fas fa-bars-staggered fa-2x text-black-50 mb-4"></i>
                <!-- <i class="fa-solid fa-bars-staggered"></i> -->
                <h6 class="text-black-50 mb-3"><strong>{{categoryCnt}}</strong> Category</h6>
              </div>
          
            </div>

            <button *ngIf="userExist" type="button" class="btn btn-secondary btn-rounded px-3 me-2" routerLink="/shop">Shop Now</button>
            <button *ngIf="!userExist" type="button" class="btn btn-secondary btn-rounded px-3 me-2" routerLink="/signin">Sign In</button>
          
          </div>

          </div>

          <div class="col-md-7">
            <img src="../../assets/img/Hero-img.png" class="img-fluid flt-img" loading="lazy" alt="..." />
          </div>
    </div>
</div>